html{
  min-height: 100%;
  position: relative;
}

.top-right {
  padding-top: 3%;
}

img{
  width: 40%;
  height: 40%;
  margin: 0% 0% 0% 30%;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
}

.item img{
  max-width: 600px!important;
  max-height: 600px!important; 
}

.item {
  max-height: 600px!important; 
  overflow: hidden!important;
}

#footerLogin {
  width: 1382px;
  bottom: 0;
  position:fixed;
  height: 50px;
  background: #363b3f!important;
}

#footer{
  width: 100%;
  bottom: 0;
  position:fixed;
  height: 50px;
  background: #363b3f!important
}

.col-md-offset-1 {
  margin-left: 0%!important;
}

.navbar-right {
  margin-right: 0px!important;
  margin: 3px 0px 0px 1050px!important;
}

.lipadding{
  font-size: 18px!important;
  padding: 0% 0% 23% 0%;
  list-style:none;
}

.buttonn{
  width:100px;
  height:40px;

}

.col-md-2{
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.menu_home{
  position: fixed;
  height: 100%!important;
  width: 15%;
  background-color: #363b3f!important;
  padding: 26px 15px!important;
}

.home{
  margin: 0%!important;
}

.barra{
  margin: 0%!important;
  width: 100%!important;
  height: 470px!important;
}

.name{
  background: rgba(76,76,76,1);
  background: -moz-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 18%, rgba(71,71,71,1) 29%, rgba(44,44,44,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(18%, rgba(102,102,102,1)), color-stop(29%, rgba(71,71,71,1)), color-stop(39%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
  background: -webkit-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 18%, rgba(71,71,71,1) 29%, rgba(44,44,44,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  background: -o-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 18%, rgba(71,71,71,1) 29%, rgba(44,44,44,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  background: -ms-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 18%, rgba(71,71,71,1) 29%, rgba(44,44,44,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  background: linear-gradient(to right, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 18%, rgba(71,71,71,1) 29%, rgba(44,44,44,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 );
  text-align: center;
  color: white!important;
  height: auto;
}

.labelAline{
  vertical-align: bottom;
  margin: 8px;
}
.container-fluid{
  background: #363b3f!important;
  height: 65px;
  padding: 0% 1% 0% 1%;
  position: fixed;
  display: flex;
  width: 100%!important;
}

.container-fluid a:hover{
  color: #000000!important;
}

.panelMenu{
  background: rgba(76,76,76,1);
  background: -moz-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 18%, rgba(71,71,71,1) 29%, rgba(44,44,44,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(18%, rgba(102,102,102,1)), color-stop(29%, rgba(71,71,71,1)), color-stop(39%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
  background: -webkit-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 18%, rgba(71,71,71,1) 29%, rgba(44,44,44,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  background: -o-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 18%, rgba(71,71,71,1) 29%, rgba(44,44,44,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  background: -ms-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 18%, rgba(71,71,71,1) 29%, rgba(44,44,44,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  background: linear-gradient(to right, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 18%, rgba(71,71,71,1) 29%, rgba(44,44,44,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 );
  border: 0px!important;
}

.letras{
  height: 38px!important;
}

.menuPrincipal{
  height: 20px;
  vertical-align: bottom;
  margin: 8px;
  float: center;
  color: #eee;
  margin: 0 5px;
  padding: 8%;
  text-decoration: none;
  border: 1px solid #831608;
  font: bold 14px Arial, Helvetica;   
  background-color: #831608;
  background-image: linear-gradient(#bb413b, #831608);
  border-radius: 5px;
  text-shadow: 0 -1px 0 rgba(0,0,0,.8); 
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 3px 0 rgba(0, 0, 0, 0.7), 0 2px 2px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

.menuPrincipal:hover{
  /*color: #f4424e!important;*/
  text-decoration: none;
  color: #f4424e!important;
  background-image: linear-gradient(#831608, #bb413b)!important;
}

.linksMenu{
  height: 20px;
  vertical-align: bottom;
  margin: 8px;
}

.ancho{
  width: 100%!important;
}

.navbar{
  margin-bottom: 0px!important;
}

.jumbotron{
  margin-bottom: 0px!important;
}

.linksMenuDropdown{
  height: 10px;
  vertical-align: bottom;
  margin: 0px;
  padding: 0px!important;
}

.logo{
  height: 57px;
  width: 126px; 
  margin: -8% 0% 0% 0%!important;
  padding: 0%!important;
}
.linksHome{
  vertical-align: bottom!important;
  margin: 8px!important;
  color: #eee!important;
  text-decoration: none!important;
  font: bold 14px Arial, Helvetica!important;   
  background: #831608!important;
  background-image: linear-gradient(#bb413b, #831608)!important;
  border-radius: 5px!important;
  text-shadow: 0 -1px 0 rgba(0,0,0,.8)!important; 
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 3px 0 rgba(0, 0, 0, 0.7), 0 2px 2px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5) inset!important;
  margin: 5% 0% 0% 0%;
  padding: 10%!important;
}

.linksHome:hover{
  text-decoration: none;
  color: #f4424e!important;
  background-image: linear-gradient(#831608, #bb413b)!important;
}

.linka{
  color: white!important;
}

.imgs{
  height: 450px!important;
  width: 600px!important;
}

.containerCalendar{
  max-width: 1100px!important;
}

.breadcrumb li a{
  color:rgba(248,63,35,1)!important;
  text-decoration: none;
}

.breadcrumb li a:hover{
  color:#000000!important;
  text-decoration: none;
}

.login{
  margin: 10% 0% 0% 0%!important;
}

.panel-heading-Login{
  background: #363b3f!important;
  height: 67px;
  color: white!important;
  text-align: center!important;

}

.btn-primary{
  border-color: transparent!important;
  vertical-align: bottom!important;
  margin: 8px!important;
  float: center!important;
  color: #eee!important;
  margin: 0 5px!important;
  padding: 1%!important;
  text-decoration: none!important;
  font: bold 14px Arial, Helvetica!important;   
  background: #831608!important;
  background-image: linear-gradient(#bb413b, #831608)!important;
  border-radius: 5px!important;
  text-shadow: 0 -1px 0 rgba(0,0,0,.8)!important; 
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 3px 0 rgba(0, 0, 0, 0.7), 0 2px 2px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5) inset!important;
}

.btn-primary:hover{
  border-color: transparent!important;
  text-decoration: none;
  color: #f4424e!important;
  background-image: linear-gradient(#831608, #bb413b)!important;
}

hr{
  border-top: 0px!important;
}

.rowButtons{
  width: 250px!important;
  margin: 0%!important;
}

.rowCalendar{
  margin: 1%!important;
}

.imgC{
  height: 22px!important;
  width: 22px!important;
}

.backtabletr{
  background-color: rgb(54, 59, 63)!important;
  color:white!important;
}


.backtabletd{
  background-color:#eeeeee!important;
  color:rgb(54, 59, 63)!important;
}

.backtabletd:hover{
  background: rgba(76,76,76,1);
  background: -moz-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 18%, rgba(71,71,71,1) 29%, rgba(44,44,44,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(18%, rgba(102,102,102,1)), color-stop(29%, rgba(71,71,71,1)), color-stop(39%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
  background: -webkit-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 18%, rgba(71,71,71,1) 29%, rgba(44,44,44,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  background: -o-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 18%, rgba(71,71,71,1) 29%, rgba(44,44,44,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  background: -ms-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 18%, rgba(71,71,71,1) 29%, rgba(44,44,44,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  background: linear-gradient(to right, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 18%, rgba(71,71,71,1) 29%, rgba(44,44,44,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 );
  
  color:white!important;
}

.linksHomeH{
  border: 1px dashed #eba1a3!important;
  vertical-align: bottom!important;
  margin: 8px!important;
  float: center!important;
  color: #eee!important;
  padding: 1%!important;
  text-decoration: none!important;
  font: bold 14px Arial, Helvetica!important;   
  background: #831608!important;
  background-image: linear-gradient(#bb413b, #831608)!important;
  border-radius: 5px!important;
  text-shadow: 0 -1px 0 rgba(0,0,0,.8)!important; 
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 3px 0 rgba(0, 0, 0, 0.7), 0 2px 2px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5) inset!important;
  margin: 21% 0% 0% 0%!important;
  padding: 15%!important;
}

.linksHomeH:hover{
  text-decoration: none;
  color: #f4424e!important;
  background-image: linear-gradient(#831608, #bb413b)!important;
}

@media screen and (max-width: 768px) {
  #myCarousel {
  }

  .item img {
    max-width: 150px!important;
    max-height: 150px!important;
  }

  .linksHomeH{
    margin: 0%!important;
  }

  .linksHome{
    margin: 0%!important;
  }
}

.mensaje{
  font-size: large;
  background: red;
  color: white;
  height: 58px;
  width: 697px;;
  margin: 6%;
  padding: 3%;
  border-radius: 34px;
  text-align: center;
}

table{
  overflow: auto!important;
  border-radius: 10px;
}

.table-responsive{
  margin: 0px 0px 10px 0px;
  width: 100%!important;
  height: 400px!important;
  border-radius: 9px;
}

.fc-button{
  color: #eee!important;
  font: bold 14px Arial, Helvetica!important;   
  background: #831608!important;
  background-image: linear-gradient(#bb413b, #831608)!important;
  border-radius: 5px!important;
  text-shadow: 0 -1px 0 rgba(0,0,0,.8)!important; 
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 3px 0 rgba(0, 0, 0, 0.7), 0 2px 2px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5) inset!important;
}

.fc-button:hover{
  text-decoration: none;
  color: #f4424e!important;
  background-image: linear-gradient(#831608, #bb413b)!important;
}

.fade-carousel {
  position: relative;
  height: 92.2%;
}
.fade-carousel .carousel-inner .item {
  height: 90vh;
}
.fade-carousel .carousel-indicators > li {
  margin: 0 2px;
  background-color: #f39c12;
  border-color: #f39c12;
  opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0,0,0,.75);
  -webkit-transform: translate3d(-50%,-50%,0);
  -moz-transform: translate3d(-50%,-50%,0);
  -ms-transform: translate3d(-50%,-50%,0);
  -o-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
}
.hero h1 {
  font-size: 6em;    
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
  opacity: 0;
  -webkit-transition: 2s all ease-in-out .1s;
  -moz-transition: 2s all ease-in-out .1s; 
  -ms-transition: 2s all ease-in-out .1s; 
  -o-transition: 2s all ease-in-out .1s; 
  transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
  opacity: 1;
  -webkit-transition: 2s all ease-in-out .1s;
  -moz-transition: 2s all ease-in-out .1s; 
  -ms-transition: 2s all ease-in-out .1s; 
  -o-transition: 2s all ease-in-out .1s; 
  transition: 2s all ease-in-out .1s;    
}
.overlay {
  position: absolute;
  width: 100%;
  height: 92.2%;
  z-index: 2;
  background-color: #b63d36;
  opacity: 0.3;
}

.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 92.2%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(/img/logo.jpg); 
}
.fade-carousel .slides .slide-2 {
  background-image: url(http://i534.photobucket.com/albums/ee347/Tillor87/Palmares/DSC07989.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(/img/logo.jpg);
}
.homeCc{
  height: 63px!important;
}

.navbar{
  min-height: 65px!important;
}

.search{
  width: 397px!important;
}

